# Konfigurasi Firebase Web Client (Prefix VITE_)
# Dapatkan dari Firebase Console -> Project Settings -> General -> Your apps -> Web app
VITE_FIREBASE_API_KEY=AIzaSyBfQfCuo7cqZXG7cWY1Xj_tjVrwBZjeMrI
VITE_FIREBASE_AUTH_DOMAIN=wimala-land.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=wimala-land
VITE_FIREBASE_STORAGE_BUCKET=wimala-land.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=36060666743
VITE_FIREBASE_APP_ID=1:36060666743:web:d051d77b843b1a91aadf72
VITE_FIREBASE_MEASUREMENT_ID=G-V32P1W1RQ7
